<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Videograph Template">
  <meta name="keywords" content="Videograph, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Videograph | Template</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
  <!--  font-awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


  <!-- Css Styles -->
  <link rel="stylesheet" href="../assets/user/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/user/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/user/css/elegant-icons.css">
  <link rel="stylesheet" href="../assets/user/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/user/css/magnific-popup.css">
  <link rel="stylesheet" href="../assets/user/css/slicknav.min.css">
  <link rel="stylesheet" href="../assets/user/css/style.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>


<!-- Header Section Begin -->
<div th:replace="../templates/pages/user/fragments/header :: header"></div>
<!-- End Header Section Begin -->

<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__item set-bg" data-setbg="../assets/user/img/slide/slide2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>For gundam player</span>
              <h2>Gundam Viet Nam</h2>
              <a href="#" class="primary-btn-light">Introducing Gundam</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="../assets/user/img/slide/slide2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>For gundam player</span>
              <h2>Gundam Viet Nam</h2>
              <a href="#" class="primary-btn-light">Introducing Gundam</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="../assets/user/img/slide/slide2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <span>For gundam player</span>
              <h2>Gundam Viet Nam</h2>
              <a href="#" class="primary-btn-light">Introducing Gundam</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Services Section Begin -->
<section class="services spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="services__title">
          <div class="section-title">
            <span>Gundam Viet Nam</span>
            <h2>Chúng ta sẽ nói về những chủ đề gì ?</h2>
          </div>
          <p>Đây là nơi mà người mới chơi gunpla cũng như lâu năm chơi có thể học hỏi cũng như đóng góp 1
            phần vào sự phát triển của cộng đồng gunpla tại Việt Nam .</p>
          <a href="#" class="primary-btn-dark">Xem những bài viết hay gần đây</a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <!-- <img src="img/icons/si-1.png" alt=""> -->
                <span>Review</span>
              </div>
              <h4>Gundam review</h4>
              <p>Dựa trên ý kiến c á nhân và cũng sẽ tham khảo 1 số nguồn, mình sẽ đưa ra những ưu
                nhược điểm sao cho đánh giá đó khách quan nhất để cho bạn biết rằng mẫu gundam mà
                bạn đang muốn mua có thực sự phù hợp với nhu cầu và sở thích của bạn hay không</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <!-- <img src="img/icons/si-2.png" alt=""> -->
                <span>Newbie</span>
              </div>
              <h4>Mẹo và cách chơi cho ae newbie</h4>
              <p>Dựa trên kinh nghiệm ~5 năm chơi gunpla,
                mình sẽ chia sẽ cho những anh em newbie của bộ môn <span><i>"mai thúy
                                            nhựa"</i></span> này những cách
                và mẹo chơi hay giúp anh em đảm bảo được túi tiền của mình, tránh tình trạng phải
                "trả giá" bằng tiền mặt
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <!-- <img src="img/icons/si-3.png" alt=""> -->
                <span>Brands</span>
              </div>
              <h4>Câu chuyện các Gunpla brands</h4>
              <p>Mỗi thương hiệu gunpla đều có những đặc trưng riêng, ưu và nhược điểm khác nhau,
                có những mẫu vô cùng đáng tiền nhưng lại có những kit khiến ae hối hận khi mua,
                vậy nên chúng ta sẽ bàn tới nguồn gốc của từng thương hiệu và sản phầm nổi bật cũng
                như những sản phẩm mà ae nên cân nhắc khi mua.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__item">
              <div class="services__item__icon">
                <!-- <img src="img/icons/si-4.png" alt=""> -->
                <span>Q&A</span>
              </div>
              <h4>Trả lời câu hỏi</h4>
              <p>Anh em có thể đặt những câu hỏi và mình sẽ dựa trên kinh nghiệm biết được
                cũng như có thể tham khảo thêm các tiền bối đã chơi lâu năm để có thể giải đáp thắc
                mắc cho ae nhé.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Work Section Begin -->
<section class="work">
  <div class="section-title center-title">
    <span>Video</span>
    <h2>Video nổi bật</h2>
  </div>
  <div class="work__gallery">
    <div class="grid-sizer"></div>
    <div class="work__item wide__item set-bg" data-setbg="../assets/user/img/featured/takeda.jpg">
      <a href="https://www.youtube.com/watch?v=Z9wT37nqxZY" class="play-btn video-popup"><i
         class="fa fa-play"></i></a>
      <div class="work__item__hover">
        <h4>Takeda Shingen</h4>
        <ul>
          <li>Moshow</li>
          <li>1/72</li>
        </ul>
      </div>
    </div>
    <div class="work__item small__item set-bg" data-setbg="../assets/user/img/featured/dante-masamune.jpg">
      <a href="https://www.youtube.com/watch?v=mERMFPP5M5A&t=973s" class="play-btn video-popup"><i
         class="fa fa-play"></i></a>
      <div class="work__item__hover">
        <h4>Date Masamune</h4>
        <ul>
          <li>Moshow</li>
          <li>1/72</li>
        </ul>
      </div>
    </div>
    <div class="work__item small__item set-bg" data-setbg="../assets/user/img/featured/ariel.jpg">
      <a href="https://www.youtube.com/watch?v=uxt2Wr1gU54" class="play-btn video-popup"><i
         class="fa fa-play"></i></a>
      <div class="work__item__hover">
        <h4>Ariel</h4>
        <ul>
          <li>Bandai</li>
          <li>1/144</li>
        </ul>
      </div>
    </div>
    <div class="work__item large__item set-bg" data-setbg="../assets/user/img/featured/lancelot.jpg">
      <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
         class="fa fa-play"></i></a>
      <div class="work__item__hover">
        <div class="work__item__hover">
          <h4>Lancelot</h4>
          <ul>
            <li>Moshow</li>
            <li>1/72</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="work__item small__item set-bg" data-setbg="../assets/user/img/featured/work-5.jpg">
      <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
         class="fa fa-play"></i></a>
    </div>
    <div class="work__item small__item set-bg" data-setbg="../assets/user/img/featured/work-6.jpg">
      <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
         class="fa fa-play"></i></a>
    </div>
    <div class="work__item wide__item set-bg" data-setbg="../assets/user/img/featured/work-7.jpg">
      <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
         class="fa fa-play"></i></a>
      <div class="work__item__hover">
        <h4>VIP Auto Tires & Service</h4>
        <ul>
          <li>eCommerce</li>
          <li>Magento</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Work Section End -->

<!-- Counter Section Begin -->
<section class="counter">
  <div class="container">
    <div class="counter__content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter__item">
            <div class="counter__item__text">
              <img src="../assets/user/img/icons/ci-1.png" alt="">
              <h2 class="counter_num">230</h2>
              <p>Lương tương tác gần đây</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter__item second__item">
            <div class="counter__item__text">
              <img src="../assets/user/img/icons/ci-2.png" alt="">
              <h2 class="counter_num">1068</h2>
              <p>Lượng truy cập gần đây</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter__item third__item">
            <div class="counter__item__text">
              <img src="../assets/user/img/icons/ci-3.png" alt="">
              <h2 class="counter_num">230</h2>
              <p>Số người cảm thấy hài lòng khi truy cập</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter__item four__item">
            <div class="counter__item__text">
              <img src="../assets/user/img/icons/ci-4.png" alt="">
              <h2 class="counter_num">230</h2>
              <p>Phản hồi tích cực</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title center-title">
          <span>Blog</span>
          <h2>Blog nổi bật</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="latest__slider owl-carousel">
        <div class="col-lg-4">
          <div class="blog__details__recent__item">
            <img src="../assets/user/img/blog/ri-1.jpg" alt="">
            <h5>What are the steps of a body lift procedure?</h5>
            <span>Dec 06, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog Section End -->

<!-- Call To Action Section Begin -->
<section class="callto spad set-bg" data-setbg="../assets/user/img/callto.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="callto__text">
          <h2>Không ai có thể ngăn cản trừ khi bạn từ bỏ đam mê của mình.</h2>
          <p>Since
            <script>   document.write(new Date().getFullYear()); </script>
          </p>
          <a href="#">Click để lắp ráp mảnh ghép đầu tiên.</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call To Action Section End -->

<!-- Footer Section Begin -->
<div th:replace="../templates/pages/user/fragments/footer :: footer"></div>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../assets/user/js/jquery-3.3.1.min.js"></script>
<script src="../assets/user/js/bootstrap.min.js"></script>
<script src="../assets/user/js/jquery.magnific-popup.min.js"></script>
<script src="../assets/user/js/mixitup.min.js"></script>
<script src="../assets/user/js/masonry.pkgd.min.js"></script>
<script src="../assets/user/js/jquery.slicknav.js"></script>
<script src="../assets/user/js/owl.carousel.min.js"></script>
<script src="../assets/user/js/main.js"></script>
</body>
</html>