<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Basic Page Info -->
  <meta charset="utf-8">
  <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>
  <!-- Site favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/admin/vendors/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/admin/vendors/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/admin/vendors/images/favicon-16x16.png">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../assets/admin/vendors/styles/core.css">
  <link rel="stylesheet" type="text/css" href="../assets/admin/vendors/styles/icon-font.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/admin/vendors/styles/style.css">
  <link rel="stylesheet" type="text/css" href="../assets/admin/src/plugins/switchery/switchery.min.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
</head>
<body>
<div th:replace="../templates/pages/admin/fragments/header :: header"></div>
<div th:replace="../templates/pages/admin/fragments/right-sidebar:: right-sidebar"></div>
<div th:replace="../templates/pages/admin/fragments/left-sidebar::left-sidebar"></div>
<div class="mobile-menu-overlay"></div>
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>Quản lý các thẻ</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tags managerment</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Default Basic Forms Start -->
      <!-- basic table  Start -->
      <div class="pd-20 card-box mb-30">
        <div class="clearfix mb-20">
          <div class="pull-left">
            <h4 class="text-blue h4">Quản lý các thẻ đã tồn tại</h4>
          </div>
          <form th:action="@{'/admin/manage-tag'}">
            <div class="pull-right">
              <span> <input class="form-control" type="text" name="keyword" placeholder=" Tìm kiếm thẻ...."> </span>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên thẻ</th>
            <th scope="col">Chỉnh sửa</th>
            <th scope="col">trạng thái</th>
            <th scope="col">Số bài viết</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="tag : ${tagList}" th:if="${totalElements >0}">
            <form th:action="@{'/admin/renametag'}" method="get">
              <th scope="row"><input type="text" name="tagId" th:value="${tag.tagId}" style="width: 50px; border: none;"
                                     readonly/></th>
              <td th:text="${tag.tagName}"></td>
              <td>
                <div class="input-group mb-3">
                  <input type="text" name="newTagName" placeholder="nhập tên muốn chỉnh sửa" class="form-control"
                         aria-label="Recipient's username" aria-describedby="button-addon2" style="border: none;">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Đổi</button>
                </div>
            </form>
            <td><input type="checkbox" checked class="switch-btn" data-size="small"
                       data-color="#0099ff"></td>
            <td><a th:href="@{${'/admin/blog-in-tag-'+tag.tagId}}" class="link-primary"><i
               th:text="${tag.numOfBlog+ ' bài viết được gắn thẻ'} "></i></a></td>
          </tr>
          </tbody>
        </table>
        <div class="text-center"><a th:href="@{'/admin/create-tag'}" class="link-primary">Tạo thẻ mới ở đây</a></div>
        <div class="blog-pagination">
          <div class="btn-toolbar justify-content-center mb-15">
            <div class="btn-group">
              <a th:if="${currentPage>1}" th:href="@{'?pageNo='+${currentPage-1}}"
                 class="btn btn-outline-primary prev"><i class="fa fa-angle-double-left"></i></a>
              <a th:href="@{${keyword!= null && keyword != ''? '?keyword='+keyword+'&':'?'}+'pageNo='+${pageNumber}}"
                 th:text="${pageNumber}"
                 th:each="pageNumber:${#numbers.sequence(1,totalPage)}"
                 th:classappend="${currentPage==pageNumber?'active':''}" class="btn btn-outline-primary">1</a>
              <a th:if="${currentPage<totalPage}" th:href="@{'?pageNo='+${currentPage+1}}"
                 class="btn btn-outline-primary next"><i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- basic table  End -->
    </div>
  </div>
  <!-- js -->
  <script src="../assets/admin/vendors/scripts/core.js"></script>
  <script src="../assets/admin/vendors/scripts/script.min.js"></script>
  <script src="../assets/admin/vendors/scripts/process.js"></script>
  <script src="../assets/admin/vendors/scripts/layout-settings.js"></script>
  <!-- switchery js -->
  <script src="../assets/admin/src/plugins/switchery/switchery.min.js"></script>
  <!-- bootstrap-touchspin js -->
  <script src="../assets/admin/vendors/scripts/advanced-components.js"></script>
</div>
</body>
</html>